@font-face {
    font-family: "iranyekan";
    src: url("../fonts/eot/iranyekanwebthinfanum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/woff/iranyekanwebthinfanum.woff") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/iranyekanwebthinfanum.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/ttf/iranyekanwebthinfanum.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/svg/iranyekanwebthinfanum.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 100;
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/eot/iranyekanwebregularfanum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/woff/iranyekanwebregularfanum.woff") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/iranyekanwebregularfanum.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/ttf/iranyekanwebregularfanum.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/svg/iranyekanwebregularfanum.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: normal;
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/eot/iranyekanweblightfanum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/woff/iranyekanweblightfanum.woff") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/iranyekanweblightfanum.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/ttf/iranyekanweblightfanum.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/svg/iranyekanweblightfanum.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 300;
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/eot/iranyekanwebmediumfanum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/woff/iranyekanwebmediumfanum.woff") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/iranyekanwebmediumfanum.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/ttf/iranyekanwebmediumfanum.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/svg/iranyekanwebmediumfanum.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 500;
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/eot/iranyekanwebboldfanum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/woff/iranyekanwebboldfanum.woff") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/iranyekanwebboldfanum.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/ttf/iranyekanwebboldfanum.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/svg/iranyekanwebboldfanum.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 700;
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/eot/iranyekanwebextraboldfanum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/eot/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/woff/iranyekanwebextraboldfanum.woff") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/iranyekanwebextraboldfanum.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/ttf/iranyekanwebextraboldfanum.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/svg/iranyekanwebextraboldfanum.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 800;
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/eot/iranyekanwebblackfanum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/woff/iranyekanwebblackfanum.woff") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/iranyekanwebblackfanum.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/ttf/iranyekanwebblackfanum.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/svg/iranyekanwebblackfanum.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 800;
}

@font-face {
    font-family: "iranyekan";
    src: url("../fonts/eot/iranyekanwebextrablackfanum.eot"); /* IE9 Compat Modes */
    src: url("../fonts/eot/iranyekanwebextrablackfanum.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */ url("../fonts/woff/iranyekanwebextrablackfanum.woff") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/woff/iranyekanwebextrablackfanum.woff") format("woff"),
        /* Pretty Modern Browsers */ url("../fonts/ttf/iranyekanwebextrablackfanum.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/svg/iranyekanwebextrablackfanum.svg#svgFontName") format("svg"); /* Legacy iOS */
    font-weight: 900;
}

/*colors*/
/*    #ffd600   */
/*    #ffff52   */
/*    #ffff7a   */
/*    #ffff9e   */
/*    #ffffbf   */
/*    #ffffdf   */
/*    #ffffff   */
/*    #2b2911   */
/*    #000000   */
* {
    padding: 0;
    margin: 0;
    font-family: "iranyekan", arial, sans-serif, icomoon;
    font-weight: normal;
    outline: none;
}

body {
    font-family: "iranyekan", arial, sans-serif, icomoon !important;
    direction: rtl;
    overflow: -moz-scrollbars-vertical;
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
    background-color: #f1f1f1;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    height: 92px;
    background-color: #ffffff;
    border-bottom: 1px solid #bcbcbc;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, span {
    color: #2b2911;
    line-height: 34px;
}

.center {
    text-align: center;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear-fix {
    clear: both;
}

.container-fluid {
    max-width: 1366px;
}

main {
    margin-top: 145px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-right-15 {
    margin-left: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-right-20 {
    margin-left: 20px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

/*--header--*/
.burger {
    display: none;
}

.main-menu {
    display: block;
}

.mobile-menu {
    display: none;
}

.transparent-back {
    display: none;
}

.logo {
    display: inline-block;
    float: right;
}

.logo .img {
    width: 80px;
    margin: 2px 0;
}

.logo .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.search {
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    border-radius: 40px;
    margin: 23px 0;
    transition: 1s;
    outline: 0;
    border: 1px solid #c1bcbc;
}

.search:hover {
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #c1bcbc;
    border-radius: 0;
}

.head-left .fa-shopping-cart {
    font-size: 24px;
    margin: 33px 10px;
    cursor: pointer;
}

.head-left .sub_user {
    border-radius: 8px;
    border: 1px solid #c1bcbc;
    margin: 22px 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.head-left .sub_user .fa-user {
    font-size: 24px;
    position: relative;
    top: 5px;
}

.head-left .sub_user span {
    font-size: 10px;

}

.head-left .sub_user:hover {
    background-color: #ffd600;
    border-color: #ffd600;
}

.menu {
    background-color: #ffd600;
    display: inline-block;
    width: 100%;
    height: 55px;
    box-shadow: 0 12px 20px -10px #000;
    -moz-box-shadow: 0 12px 20px -10px #000;
    -o-box-shadow: 0 12px 20px -10px #000;
    -webkit-box-shadow: 0 12px 20px -10px #000;
}

.menu ul li {
    display: inline-block;
    padding: 0 25px;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.menu ul li a {
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.menu ul li ul {
    border-radius: 6px;
    list-style-type: none;
    position: absolute;
    top: 53px;
    left: 0;
    right: 0;
    min-width: 150px;
    max-width: 200px;
    background-color: #fff;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
    display: none;
}

.menu ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.menu ul li:hover::after {
    width: 100%;
}

.menu ul li ul li::after {
    content: none;
}

.menu ul li ul li {
    min-width: 150px !important;
    max-width: 200px !important;
}

.menu ul li:hover ul li {
    border: none;
}

.menu ul li:hover ul {
    display: block;
}

.menu ul li ul li:hover {
    background-color: #ffffdf;
    border-radius: 6px;
}

.mobile-menu i {
    font-size: 30px;
    margin: 28px 0;
}

.mobile-menu .logo {
    float: none;
}

.mobile-menu .fa-shopping-cart {
    font-size: 24px;
    margin: 15px 0;
}

.mobile-menu .search {
    margin: 6px 0;
    color: black;
}

/*--end-header--*/

/*main*/
.slider-section .slider .main-slider .slick-prev {

    left: 15px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    border-radius: 50%;
    z-index: 2;
}

.slider-section .slider .main-slider .slick-prev:hover {
    background: yellow;
}

.slider-section .slider .main-slider .slick-prev:before {
    content: "\f053";
    font-family: "Font Awesome 5 Pro";
}

.slider-section .slider .main-slider .slick-next:before {
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
}

.slider-section .slider .main-slider .slick-next {
    /*content: "\F054";*/
    /*background-color: red;*/

    right: 15px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    border-radius: 50%;
    z-index: 2;
}

.slider-section .slider .main-slider .img {
    height: 500px;
}

.slider-section .slider .main-slider .img img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    -o-object-fit: cover;
    -o-object-position: center;
}

.sec-head {
    position: relative;
}

.sec-head .title h2 {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
    color: #2b2911;
    float: right;
}

.sec-head .more {
    float: left;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.sec-head .more a {
    color: #2b2911;
    font-size: 14px;
    font-weight: bold;
    line-height: 34px;
    padding: 10px;
}

.sec-head .more:hover {
    border-bottom: 2px solid #ffd600;
    border-top: 2px solid #ffd600;
}

.card {
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.card .img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.card .img img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    -o-object-position: center;
    object-fit: cover;
    -o-object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

.card .caption {
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    height: 80px;
    background: rgba(255, 255, 180, 0.7);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin-bottom: -100px;
    z-index: 2;
    padding: 10px 15px;
}

.card .caption h2 {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    line-height: 34px;
}

.card .caption h3 {
    font-size: 14px;
    color: #1b803d;
    font-weight: bold;
    line-height: 24px;
    text-align: left;
}

.card:hover .caption {
    margin-bottom: 0;
}

.card:hover img {
    webkit-filter: blur(1px);
    filter: blur(1px);
}

.banner {
    width: 100%;
    height: 450px;
}

.banner img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    -o-object-fit: cover;
    -o-object-position: center;
}

.product {
    border-bottom: 2px solid #c1bcbc;
    margin-bottom: 50px;
}

.first-img {
    width: 100%;
    max-width: 395px;
    height: 400px;
}

.first-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
    border-radius: 10px;
}

.gallery ul {
    width: 420px;
}

.gallery ul li {
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}

.gallery ul li .img {
    width: 80px;
    height: 80px;
}

.gallery ul li .img img.active {
    opacity: 100%;
    border: 1px solid gray;
}

.gallery ul li .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
    opacity: 80%;
    border-radius: 10px;
}

span {
    color: #585851
}

.desc, .category {
    margin: 20px 0;
}

.attribute ul {
    margin: 10px 0;
}

.attribute ul li {
    margin-right: 20px;
    position: relative;
    line-height: 28px;
    font-size: 14px;
    color: #585851;
}

.attribute ul li:before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #585851;
    position: absolute;
    right: -20px;
    top: 7px;
    line-height: 10px;
    border-radius: 50%;
}

.gray-box {
    border: 1px solid #efefef;
    border-radius: 10px;
    background-color: #e9e9e9;
    padding: 20px;
}

.btn-yellow {
    background-color: #ffd600;
    border-radius: 4px;
    border-style: none;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #030a16;
    font-size: 14px;
    font-weight: bold;
}

.btn-gray {
    background-color: #c1bcbc;
    border-radius: 4px;
    border-style: none;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: #030a16;
    font-size: 14px;
    font-weight: bold;
}

.gray-box .price {
    margin: 20px 5px;
}

.gray-box .product-price {
    color: #030a16;
    font-weight: 700;
    font-size: 22px;
    line-height: 41px;
    text-align: left;
}

.gray-box .off-price span {
    padding: 3px .7rem 1px;
    font-weight: 700;
    background: #fb3449;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.1rem;
}

.gray-box .off-price {
    text-align: left;
}

.gray-box .off-price h4 {
    color: #585851;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    display: inline-block;
}

.gray-box .off-price h4:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #585851;
    position: absolute;
    top: 15px;
    right: 0;
    left: 0;
    z-index: 1;
}

.gray-box ul li {
    border-bottom: 1px solid #bcbcbc;
    position: relative;
}

.gray-box ul li span {
    line-height: 50px;
    font-weight: normal;
    font-size: 14px;
    margin-right: 25px;
    overflow: hidden;
    z-index: 2;
}

.gray-box ul li:before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #585851;
    position: absolute;
    right: 0;
    top: 20px;
}

.main-single .product {
    border-bottom: none;
}

.main-single .bg-yellow {
    background-color: #ffd600;
    padding: 20px 0;
}

.counter-box {
    border: 1px solid #bcbcbc;
    border-radius: 6px;
    display: inline-block;
}

.counter-box input {
    border: none;
    width: 50px;
    text-align: center;
    background-color: transparent;
}

.counter-box button {
    font-size: 16px;
    padding: 5px 15px;
    cursor: pointer;
    border: none;
}

.counter-box .plus {
    border-left: 1px solid #bcbcbc;
}

.counter-box .minus {
    border-right: 1px solid #bcbcbc;
}

.tabs li {
    display: inline-block;
}

.tabs li a {
    width: 100%;
    font-size: 18px;
    text-align: right;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px 10px;
    cursor: pointer;
}

.tabs li .tab.active {
    border-bottom: 4px solid #ffd600;
}

.tab_content {
    display: none;
}

.tab_content.tab_content_active {
    display: block;
}

.tab_content_container {
    margin: 50px 0;
}

.tab_content ul li {
    display: block;
}

.tab_content ul li .p-info-title {
    display: inline-block;

}

.tab_content ul li .p-info-value {
    display: inline-block;
    min-width: 170px;
    align-items: center;
    position: relative;
    letter-spacing: -.3px;
    padding: 14px 18px 12px;
}

.tab_content ul li .p-info-value span {
    color: #232933;
}

.gray-box .category li:before {
    content: none;
}

.gray-box .category li {
    border: none;
    list-style-type: none;
}

.overflow-hidden {
    overflow: hidden;
}

/*--pagination--*/
.pagination {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pagination ul li {
    display: inline-block;
}

.pagination ul li a {
    color: #4f4f4f;
    background-color: #f6f6f6;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 4px;
    margin: 5px;
}

.pagination ul li a:hover {
    background-color: #cef1f6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.pagination ul li span {
    color: #0cb8cf;
    background-color: #CEF1F6;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    border-radius: 4px;
    margin: 5px;
}

.pagination ul li.dots {
    background-color: transparent;
    color: #9e9e9e;
    font-weight: bold;
    font-size: 20px;
}

/*pagination*/

.minWidth {
    max-width: 200px;
}

.cart table {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    border-collapse: collapse;
}

.cart table tr th {
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}

.cart table tr td {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
}

.cart table tr td, .cart table tr th {
    border: 1px solid #dddddd;
    text-align: right;
    padding: 8px 20px;
}

.cart table tr:nth-child(even) {
    background-color: #dddddd;
}

.title {
    text-align: center;
}

.title h2 {
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    border-bottom: 4px solid #ffd600;
    padding-bottom: 15px;
    display: inline-block;

}

.content {
    text-align: justify;
    color: #585851;
    font-size: 18px;
    line-height: 34px;

}

.modal {
    position: fixed;
    background-color: white;
    border-radius: 8px;
    padding: 15px 0;
    left: 30%;
    right: 30%;
}

.modal .modal-header .title h2 {
    margin: 0;
    font-size: 25px;
}
.modal .modal-content p {
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
    color: #0b0b0b;
    margin-bottom: 25px;
}

.modal .modal-footer p {
    font-size: 12px;
    line-height: 19px;
    color: #0b0b0b;
    font-weight: normal;
    text-align: center;
    display: block;
}

.modal .modal-footer p a {
    font-weight: bold;
    border-bottom: 1px solid #ffd600;
    text-decoration: none;
    color: #0b0b0b;
    cursor: pointer;
}

/*end-main*/

/*footer*/
.bg-yellow {
    background-color: #ffd600;
    padding: 30px 0;
}

.bg-yellow h3 {
    font-size: 18px;
    color: #1f1e0b;
    font-weight: bold;
    line-height: 34px;
    text-align: right;
    margin: 25px 0;
}


.bg-yellow .services li {
    font-size: 16px;
    color: #2b2911;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    padding: 0 20px;
}

.bg-yellow .services li i {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-contact-us h3,
.footer-menu h3 {
    font-size: 18px;
    color: #2b2911;
    font-weight: bold;
    line-height: 45px;
    text-align: right;
}

.footer-menu ul li a,
.footer-contact-us ul li {
    font-size: 14px;
    color: #2b2911;
    line-height: 35px;
    font-weight: bold;
}

.neshan li {
    display: inline-block;
    margin-left: 8px;
    width: 150px;
    height: 140px;
    border-radius: 8px;
    border: 1px solid #e5e5ea;
}

.neshan li .img {
    padding: 30px;
}

.neshan li .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.divider {
    margin: 20px 0;
    border: 1px solid #c1bcbc;
}

.social ul li {
    display: inline-block;
    margin: 15px;
}

.social ul li a {
    text-decoration: none;
    color: black;
}

.social ul li a:hover i {
    color: #fbe939;
    transform: scale(1.5);
    transition: 0.75s;
    text-shadow: 0px 0px 10px rgba(51, 51, 51, 1);
}

.social ul li a i {
    font-size: 28px;
    position: relative;
    top: 5px;
}

/*/footer*/


@media (max-width: 1170px) {

}

@media (max-width: 992px) {
    .main-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .head-left i {
        font-size: 24px;
    }

    .menu ul {
        display: none;
    }

    .bg-yellow h3 {
        text-align: center;
    }

    .bg-yellow .services {
        text-align: center;
    }

    .bg-yellow .services li {
        font-size: 10px;
        margin: 0 10px;
        padding: 0 18px;
    }

    .logo {
        display: unset;
        float: none;
    }

    .logo .img {
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
    .bg-yellow .services li {
        font-size: 16px;
        display: block;
        text-align: center;
        margin-bottom: 15px;
    }

    .bg-yellow .services li i {
        margin-bottom: 10px;
    }
}
